%text-shadow {
  @include shadow((
    type: light,
    level: 1,
    text: text,
  )...);
}

@mixin text-shadow-3 {
  @include shadow((
    type: light,
    level: 4,
    text: text,
  )...);
}

.btn-cta {
  padding: 10px 20px;
  background-color:color(brand, danger);
  color: color(greyscale, white);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 700;
  font-family: font-family(brand);
  @include font-size(14px);
  @include box-shadow(1px 0px 50px 0px rgba(color(brand, danger), 0.2));
  @extend .transition;
  cursor: pointer;

  &:hover {
    color: color(greyscale, white);
    @include transform(translateY(3px));
     @include box-shadow(1px 0px 50px -20px rgba(color(brand, danger), 0.2));
  }
}

form {
  button[type="submit"],
  input[type="submit"] {
    @extend .clear-button, .btn-cta, .pull-right;
  }
}

.input-wrapper {
  margin: 0 0 30px;

  label {
    display: block;
    position: relative;
    font-weight: 700;
    margin-bottom: 5px;
    color: color(greyscale, dark-grey);
    z-index: 1;
    @include font-size(20px);
  }

  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    position: relative;
    border: 3px solid rgba(color(greyscale, grey), 0.5);
    color: rgba(color(greyscale, dark-grey), 0.9);
    background: transparent;
    @include font-size(18px);
    padding: 10px 10px;
    // margin-left: 15px;
    width: 100%;
    letter-spacing: .75px;
    @extend .transition;

    &:focus {
      z-index: 5;
      color: rgba(color(brand, success), 0.7);
      border: 3px solid rgba(color(brand, success), 0.4);
      outline: rgba(color(brand, success), 0.7);
      background: transparent;
    }
  }
}
